%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.active Videos
%h3 Videos
- @videos.each do |video|
  %h4= link_to video.title, video
  %p= simple_format video.description.truncate(250)
  %hr/
= paginate @videos