.col-md-6
  = link_to "Ashley V. Bagley", root_path, class: "navbar-brand"
.col-md-6
  %ul.list-inline.pull-right
    %li
      %h3
        %i.fa.fa-facebook
    %li
      %h3
        %i.fa.fa-twitter
    %li
      %h3
        %i.fa.fa-instagram
    %li
      %h3
        %i.fa.fa-youtube