.panel.panel-default
  .panel-heading
    %h3.panel-title Navigation
  .panel-body
    %ul.nav.nav-pills.nav-stacked
      %li
        %a{href: "#"} About Me
      %li
        %a{href: "#"} Photos
      %li
        %a{href: "#"} Videos
      %li
        %a{href: "#"} Events
      %li
        %a{href: "#"} Radio Show
      %li
        %a{href: "#"} Blog
      %li
        %a{href: "#"} Contact Me
%a.twitter-timeline{"data-widget-id" => "460794434691403777", href: "https://twitter.com/AshleysFaith"} Tweets by @AshleysFaith
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");