<li><h4><a href="<%= @facebook_url if @facebook_url %>"><i class="fa fa-facebook"></i></a></h4></li>
<li><h4><a href="<%= @twitter_url if @twitter_url %>"><i class="fa fa-twitter"></i></a></h4></li>
<li><h4><a href="<%= @instagram_url if @instagram_url %>"><i class="fa fa-instagram"></i></a></h4></li>
